.players-container {
    text-align: center;
    margin: 40px auto;
    width: 90%;
    max-width: 800px;
    background: #18120F; /* Dark background */
    padding: 20px;
    border-radius: 12px;
}

h2 {
    font-size: 24px;
    color: #E6D2C0; /* Light brown text */
    margin-bottom: 15px;
}

.table-wrapper {
    overflow-x: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.players-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    background: #1F1A17;
    border-radius: 12px;
    color: #E6D2C0; /* Light brown text */
}

.players-table thead {
    background: #3D2B27;
    color: #E6D2C0;
}

.players-table th {
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
}

/* Table Rows */
.players-table tbody tr {
    background: #29211D;
    transition: background 0.3s ease-in-out;
}

.players-table tbody tr:hover {
    background: #3D2B27;
    transition: background 0.3s ease-in-out;
}

.players-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #3D2B27;
}

.players-table .loading {
    text-align: center;
    font-style: italic;
    color: #666;
    padding: 15px;
}